extends layout

block content
    h1 Choices for #{name}

    each choice in options
        div
            h2= choice.choice
            img(src=choice.url)

    h1 Results for #{name}

    each result in results
        h2= 'Choice: ' + result.choice
        p= 'Count: ' + result['COUNT(*)']
